events {
    # worker_connections  1024;
}

http {
    server_tokens off;
    charset utf-8;

    server {
        listen 443 ssl;
        ssl_certificate /etc/fullchain.pem;
        ssl_certificate_key /etc/privkey.pem;

        server_name recommendmemovies.com;

        location / {
            proxy_pass http://recommendmemovies.com:3000/;
        }

        location /api {
            proxy_pass http://recommendmemovies.com:5000/;
        }


    }
}