:root {
	--background: #010918;
	--foreground: #010f2c;
	--light-font: rgb(250, 249, 246);
	--sub-font: rgba(249, 249, 249, 0.8);
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #010918;
	color: var(--light-font);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

* {
	transition: ease-in-out 0.2s;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	color: var(--light-font);
	border: 0;
	outline: none;
}

h1 {
	padding-bottom: 0;
	margin-bottom: 10px;
}

h4 {
	font-size: medium;
	font-family: sans-serif;
	font-weight: lighter;
	color: var(--sub-font);
}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.header {
	font-size: x-large;
	width: auto;
	vertical-align: middle;
	margin: 1%;
}

.search {
	width: auto;
	margin: 1%;
	vertical-align: middle;
}

.search input {
	font-size: x-large;
	color: var(--light-font);
	background-color: var(--foreground);
	width: 35%;
	padding: 6px 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	transition: 0.2s;
}

.search input:focus {
	outline: none;
	transition: 0.2s;
	box-shadow: rgba(103, 103, 113, 0.37) 0px 7px 29px 0px;
}

.search button {
	font-size: x-large;
	color: var(--light-font);
	background-color: var(--foreground);
	padding: 6px 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	cursor: pointer;
}
.no-movies {
	margin-top: 25px;
}

.movies {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	gap: 2%;
}

.movie-card {
	width: 350px;
	margin: 2% 0;
	text-align: center;
	padding: 10px;
	background-color: var(--foreground);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
	transition: ease-in-out 0.2s;
}

.movie-card:hover {
	scale: 1.05;
	transition: ease-in-out 0.2s;
}

.movie-card img {
	width: 90%;
	border: black 5px solid;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.title {
	font-size: x-large;
	padding: 0;
	margin: 15px;
}

.details {
	text-align: left;
	padding: 0 10px;
	margin: 0;
	font-size: medium;
}

.bottom {
	position: relative;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 10px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.footer a {
	text-decoration: underline dotted;
}

@media screen and (max-width: 1124px) {
	.search input {
		width: 75%;
	}
}

@media screen and (max-width: 600px) {
	.movie-card {
		width: 85%;
	}

	.movie-card img {
		width: 90%;
	}

	@media screen and (max-width: 375px) {
		* {
			font-size: mediums;
			word-wrap: break-word;
		}
	}
}
